In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./match_player_data.csv")
df.head()

,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,2PA,...,DRB%_players,TRB%_players,AST%_players,STL%_players,BLK%_players,TOV%_players,USG%_players,ORtg_players,DRtg_players,BPM_players
0,2021/3/27,LAC,PHI,W 122-112,240,45,85,0.529,34,59,...,15.669340,10.003326,14.443854,1.839944,1.174243,12.329424,20.008688,127.632847,114.770694,2.116778
1,2021/3/27,PHI,LAC,L 112-122,240,39,77,0.506,29,51,...,15.362375,10.012007,12.532625,1.027785,0.679583,9.768000,20.000146,115.643889,124.967014,-0.263049
2,2021/3/27,MIL,NYK,L 96-102,240,36,87,0.414,22,51,...,14.657694,10.419354,14.706986,2.358125,2.867201,12.894146,19.995618,102.328681,109.398819,-1.726819
3,2021/3/27,NYK,MIL,W 102-96,240,40,93,0.430,24,49,...,13.617090,9.563000,17.861854,1.920097,4.304944,12.033076,19.991111,111.053958,103.274306,-0.224799
4,2021/3/27,HOU,MIN,W 129-107,240,50,92,0.543,32,53,...,15.125660,10.108146,14.598562,1.453403,3.110354,12.017993,20.008312,133.320278,112.400069,0.879021

In [4]:
# calculate A/T, efficiency(EFF) and EFFECTIVE FIELD GOAL PERCENTAGE 
df["A/T"] = df["AST_players"]/df["TOV_players"]
df["EFF"] = df["PTS_players"]+df["TRB_players"]+df["AST_players"]+df["STL_players"]+df["BLK_players"]
-(df["FGA_players"]-df["FG_players"])-(df["FTA_players"]-df["FT_players"])-df["TOV_players"]
df.head()

,Date,Tm,Opp,Result,MP,FG,FGA,FG%,2P,2PA,...,AST%_players,STL%_players,BLK%_players,TOV%_players,USG%_players,ORtg_players,DRtg_players,BPM_players,A/T,EFF
0,2021/3/27,LAC,PHI,W 122-112,240,45,85,0.529,34,59,...,14.443854,1.839944,1.174243,12.329424,20.008688,127.632847,114.770694,2.116778,2.342631,25.101250
1,2021/3/27,PHI,LAC,L 112-122,240,39,77,0.506,29,51,...,12.532625,1.027785,0.679583,9.768000,20.000146,115.643889,124.967014,-0.263049,1.201048,17.919306
2,2021/3/27,MIL,NYK,L 96-102,240,36,87,0.414,22,51,...,14.706986,2.358125,2.867201,12.894146,19.995618,102.328681,109.398819,-1.726819,1.259085,24.042569
3,2021/3/27,NYK,MIL,W 102-96,240,40,93,0.430,24,49,...,17.861854,1.920097,4.304944,12.033076,19.991111,111.053958,103.274306,-0.224799,2.146419,24.751875
4,2021/3/27,HOU,MIN,W 129-107,240,50,92,0.543,32,53,...,14.598562,1.453403,3.110354,12.017993,20.008312,133.320278,112.400069,0.879021,2.521376,22.679097

In [5]:
df.shape

(2600, 67)

In [6]:
df.to_csv('./match_player_data.csv', index = 0)